<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  backupGlobals="false" 
  colors="true" 
  processIsolation="false" 
  stopOnFailure="false" 
  bootstrap="test/bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" 
  cacheDirectory=".phpunit.cache" 
  backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="Helper Test Suite">
      <file>test/Helper/BinderTraitTest.php</file>
      <file>test/Helper/ConditionalTraitTest.php</file>
      <file>test/Helper/InstanceTraitTest.php</file>
      <file>test/Helper/LoopTraitTest.php</file>
      <file>test/Helper/SingletonTraitTest.php</file>
    </testsuite>
    <testsuite name="Resolver Test Suite">
      <file>test/Resolver/ResolverExceptionTest.php</file>
      <file>test/Resolver/ResolverHandlerTest.php</file>
      <file>test/Resolver/ResolverTraitTest.php</file>
      <file>test/Resolver/StateTraitTest.php</file>
    </testsuite>
    <testsuite name="Profiler Test Suite">
      <file>test/Profiler/CallerTraitTest.php</file>
      <file>test/Profiler/InspectorHandlerTest.php</file>
      <file>test/Profiler/InspectorTraitTest.php</file>
      <file>test/Profiler/LoggerTraitTest.php</file>
    </testsuite>
    <testsuite name="Event Test Suite">
      <file>test/Event/EventEmitterTest.php</file>
      <file>test/Event/EventObserverTest.php</file>
      <file>test/Event/EventTraitTest.php</file>
    </testsuite>
    <testsuite name="Data Test Suite">
      <file>test/Data/ArrayAccessTraitTest.php</file>
      <file>test/Data/CollectionTest.php</file>
      <file>test/Data/CountableTraitTest.php</file>
      <file>test/Data/DataExceptionTest.php</file>
      <file>test/Data/DataTraitTest.php</file>
      <file>test/Data/DotTraitTest.php</file>
      <file>test/Data/GeneratorTraitTest.php</file>
      <file>test/Data/CloneTraitTest.php</file>
      <file>test/Data/IteratorTraitTest.php</file>
      <file>test/Data/MagicTraitTest.php</file>
      <file>test/Data/ModelTest.php</file>
      <file>test/Data/RegistryTest.php</file>
    </testsuite>
    <testsuite name="I18n Test Suite">
      <file>test/I18n/LanguageTest.php</file>
      <file>test/I18n/LanguageExceptionTest.php</file>
      <file>test/I18n/TimezoneTest.php</file>
      <file>test/I18n/TimezoneValidationTest.php</file>
    </testsuite>
    <testsuite name="IO Test Suite">
      <file>test/IO/IOHandlerTest.php</file>
      <file>test/IO/MiddlewareTest.php</file>
      <file>test/IO/RequestTest.php</file>
      <file>test/IO/ResponseTest.php</file>
      <file>test/IO/Middleware/ErrorProcessorTraitTest.php</file>
      <file>test/IO/Middleware/PostProcessorTraitTest.php</file>
      <file>test/IO/Middleware/PreProcessorTraitTest.php</file>
      <file>test/IO/Request/CliTraitTest.php</file>
      <file>test/IO/Request/ContentTraitTest.php</file>
      <file>test/IO/Request/CookieTraitTest.php</file>
      <file>test/IO/Request/FileTraitTest.php</file>
      <file>test/IO/Request/GetTraitTest.php</file>
      <file>test/IO/Request/PostTraitTest.php</file>
      <file>test/IO/Request/RequestTraitTest.php</file>
      <file>test/IO/Request/RouteTraitTest.php</file>
      <file>test/IO/Request/ServerTraitTest.php</file>
      <file>test/IO/Request/SessionTraitTest.php</file>
      <file>test/IO/Request/StageTraitTest.php</file>
      <file>test/IO/Response/ContentTraitTest.php</file>
      <file>test/IO/Response/HeaderTraitTest.php</file>
      <file>test/IO/Response/ResponseTraitTest.php</file>
      <file>test/IO/Response/RestTraitTest.php</file>
      <file>test/IO/Response/StatusTraitTest.php</file>
    </testsuite>
    <testsuite name="Http Test Suite">
      <file>test/Http/HttpDispatcherTest.php</file>
      <file>test/Http/HttpExceptionTest.php</file>
      <file>test/Http/HttpHandlerTest.php</file>
      <file>test/Http/RouterTest.php</file>
      <file>test/Http/Dispatcher/DispatcherTraitTest.php</file>
      <file>test/Http/Router/RouterTraitTest.php</file>
    </testsuite>
    <testsuite name="Terminal Test Suite">
      <file>test/Terminal/TerminalExceptionTest.php</file>
      <file>test/Terminal/TerminalHelperTest.php</file>
      <file>test/Terminal/TerminalHandlerTest.php</file>
    </testsuite>
    <testsuite name="Package Test Suite">
      <file>test/Package/PackageExceptionTest.php</file>
      <file>test/Package/PackageTest.php</file>
      <file>test/Package/PackageTraitTest.php</file>
      <file>test/Package/PackageHandlerTest.php</file>
    </testsuite>
    <testsuite name="Curl Test Suite">
      <file>test/Curl/CurlHandlerTest.php</file>
      <file>test/Curl/RestTest.php</file>
    </testsuite>
    <testsuite name="Image Test Suite">
      <file>test/Image/ImageHandlerTest.php</file>
      <file>test/Image/ImageExceptionTest.php</file>
    </testsuite>
    <testsuite name="Async Test Suite">
      <file>test/Async/AsyncExceptionTest.php</file>
      <file>test/Async/CoroutineTest.php</file>
      <file>test/Async/AsyncHandlerTest.php</file>
      <file>test/Async/PromiseTest.php</file>
      <file>test/Async/AsyncTraitTest.php</file>
    </testsuite>
    <testsuite name="OAuth Test Suite">
      <file>test/OAuth/OAuth1Test.php</file>
      <file>test/OAuth/OAuth2Test.php</file>
    </testsuite>
  </testsuites>
  <coverage pathCoverage="true"/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./test</directory>
      <file>src/Profiler/InspectorInterface.php</file>
      <file>src/Resolver/ResolverInterface.php</file>
      <file>src/Data/Collection/CollectionInterface.php</file>
      <file>src/Data/Collection/CollectionException.php</file>
      <file>src/Data/Registry/RegistryInterface.php</file>
      <file>src/Data/Registry/RegistryException.php</file>
      <file>src/Data/Model/ModelInterface.php</file>
      <file>src/Data/Model/ModelException.php</file>
      <file>src/Event/EventInterface.php</file>
      <file>src/Curl/CurlException.php</file>
      <file>src/Curl/map.php</file>
      <file>src/IO/Middleware/MiddlewareInterface.php</file>
      <file>src/IO/Request/RequestInterface.php</file>
      <file>src/IO/Response/ResponseInterface.php</file>
      <file>src/Http/Dispatcher/DispatcherInterface.php</file>
      <file>src/Http/Router/RouterInterface.php</file>
      <file>src/Http/map/output.php</file>
      <file>src/Http/map/redirect.php</file>
      <file>src/Async/PromiseInterface.php</file>
      <file>src/Async/QueueInterface.php</file>
      <file>src/Async/map/noop.php</file>
      <file>src/Async/map/shutdown.php</file>
      <file>src/Async/map/socket.php</file>
      <file>src/Terminal/map.php</file>
    </exclude>
  </source>
</phpunit>
